@import "../../partials/_typography.scss";
@import "../../partials/_mixins.scss";

.video {
  &__description {
    border-top: none;
    border-left: none;
    border-bottom: none;
  }

  &__titles {
    margin: 24px 32px 24px 0;
  }

  &--name {
    margin-top: 48px;
  }

  &__info {
    width: 30%;
    display: flex;
    align-items: flex-end;

    &--autor {
      margin-right: 5%;
    }
  }

  &__socialInfo {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  &__views {
    display: flex;

    &--icon {
      margin: 0 1%;
    }
  }

  &__likes {
    display: flex;

    &--icon {
      margin: 0 1%;
    }
  }

  &--text {
    padding: 3% 30% 3% 0;
    border-left: none;
    border-bottom: none;
  }
}
