@import'../../partials/_typography';
@import'../../partials/_mixins';

.video {

  &__name {
    margin-bottom: 0;
    font-family: "bold";
    @include header-mobile;
  }

  &__contents {
    border-bottom: 1px solid $Text-border;
  }

  &__info {
    display: flex;
    align-items: baseline;

    &__author {
      font-family: "demi";
      margin: 16px 8px 32px 0;
    }
  
    &__date {
      font-family: "regular";
      color: $Text-label;
    }
  }

  &__socialInfo {
    padding-bottom: 24px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    margin-right: 8px;
  }

  &__views {
    @include paragraph-mobile;
    font-family: "regular";
    display: flex;
  }
  
  &__likes {
    @include paragraph-comments-desktop;
    font-family: "regular";
    display: flex;
  }

  &__text {
    margin: 24px 0 40px 0;
    font-family: "regular";
    @include paragraph-mobile;
  }
}

@media (min-width: 768px) {
  
  .video {

    &__name {
      @include header-h1-desktop;
    }

    &__contents {
      padding: 24px 0;
      display: flex;
      justify-content: space-between;
    }

    &__info {
      width: 50%;

      &__author {
        margin: 0 8px 0 0;
      }
    }

    &__socialInfo {
      padding: 0;
      width: 50%;
      justify-content: flex-end;
    }

    &__views p {
      margin-right: 24px;
    }

    &__counter {
      margin: 0;
    }

    &__views {
      @include paragraph-comments-desktop;
    }
    
    &__likes {
      @include paragraph-comments-desktop;
    }
  
    &__text {
      margin: 40px 0 64px 0;
      width: 70%;
      @include paragraph-comments-desktop;
    }
  }
}

@media (min-width: 1440px) {

  .video {

    &__contents {
      padding-right: 32px;
    }
  }
}