@import '../../partials/_typography';
@import '../../partials/_variables';
@import '../../partials/_mixins';


a {
  color: $Paragraph-text;
  text-decoration: none;
}

.suggestions {

  &__box {
    margin-bottom: 24px;
    display: flex;
    
    &__video {
      margin-right: 16px;
      height: 70px;
      min-width: 120px;
      width: 120px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    &__info {
      height: 70px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      
      &__name {
        margin: 0;
        font-family: "demi";
        @include subheader-mobile;
        display: inline;
        cursor: pointer;
      }
      
      &__author {
        margin: 5px 0 0 0;
        font-family: "regular";
        @include paragraph-mobile;
      }
    }
  }
}

@media (min-width: 768px) {

  .suggestions {

    &__box {
      width: 42.5%;
    }
  }  
}

@media (min-width: 768px) {

  .suggestions {

    &__box {
      width: auto;
    }
  }  
}