@import "../../partials/_typography.scss";
@import "../../partials/_variables.scss";
@import "../../partials/_mixins.scss";

.suggestions {
  &--title {
    margin: 40px 0;
  }

  &__box {
    margin: 3% 0;
    display: flex;

    &--video {
      margin-right: 2%;
      height: 70px;
      width: 120px;
    }

    &__info {
      display: flex;
      flex-direction: column;

      &--name {
        display: inline;
      }
    }
  }
}
