@import "../../partials/_typography.scss";
@import "../../partials/_variables.scss";
@import "../../partials/_mixins.scss";
@import "../../partials/_global.scss";

.MainPhoto {
  &--video {
    width: 100%;
  }

  &--timer {
    display: none;
  }
}

@include tablet-screen-size {
  .MainPhoto {
    display: flex;
    justify-content: center;
    background-color: $text-color-global;

    &--video {
      max-width: 70rem;
    }
  }
}

@include desktop-screen-size {
  .MainPhoto--video {
    max-width: 94.4rem;
  }
}
