@import "../../partials/_variables";
@import "../../partials/_typography";
@import "../../partials/_mixins";

.MainPhoto {
  margin-bottom: 32px;
  height: fit-content;
  
  &__pic {
    height: auto;
    width: 100%;
  }
  
  &__timer {
    display: none;
  }
}

@media (min-width: 768px) {
  
  .MainPhoto {
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: $Navigation-background;

    &__pic {
      width: 700px;
    }
  }
}

@media (min-width: 1440px) {

  .MainPhoto {
    height: 540px;
    
    &__pic{    
      width: 944px;
    }
  }
}