@import'../partials/typography';
@import'../partials/variables';
@import'../partials/mixins';

.CommentForm {
    margin: 3% 24px 3% 0;
    display: flex;
    align-items: flex-end;

    &__box {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        
        &--label {
            @include labels;
            font-family: "demi";
            color: $Text-label;
        }
        
        &--input {
            padding: 3%;
            width: 436px;
            background-color: $Text-background;
            border: 1px solid $Text-border;
            box-sizing: border-box;

            &::placeholder {
                @include labels;
                font-family: "regular";
                color: $Paragraph-text;
            }

            &:active {
                border-color: $Primary-Textlink;
            }
        }
    }

    &--button {
        padding: 1.7%;
        @include buttonStyle;
    }
}