@import '../../partials/_typography';
@import '../../partials/_variables';
@import '../../partials/_mixins';

.header {
  padding: $horizontalPaddingMobile;
  
  &__logo {
    height: 48px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  &__search {

    &__input {
      width: 100%;
      height: 40px;
      align-items: center;
      display: flex;
      @include formBorder;
      position: relative;
      
      
      & input {
        padding: 0 0 0 12%;
        height: inherit;
        width: 100%;
        background-color: transparent;
        border: none;
        
        &:focus {
          @include formBorder;
          outline-color: $Primary-Textlink;
        }
      }

      & img {
        left: 3%;
        position: absolute;
      }

      &::placeholder {
        font-family: "regular";
        @include labels-mobile;
      }
    }
  
    &__button {
      margin: 8px 16px 16px 0; 
      height: 40px;
      width: 224px;
      @include buttonStyle;
      @include subheader-mobile;
    }
  
    &__image {
      height: 40px;
      width: 45px;
      vertical-align: middle;
      border-radius: 50%;
    }
  }
}

@media (min-width: 768px) {
  .header {
    padding: 16px;
    height: 80px;
    display: flex;
    box-sizing: border-box;

    &__logo {
      margin-right: 169px;
    }

    &__search {
      width: 61%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &__input {
        width: 252px;
      }

      &__button {
        margin: 0;
        padding: 0;
        height: 40px;
        width: 103px;
        
        &__box {
          margin: 0 24px;
          width: 103px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {

  .header {
    padding: $horizontalPaddingDesktop;

    &__logo {
      margin-right: 509px;
      height: 100%;
    }

    &__search {
      
      &__button__box {
        width: 23%;
      }
    }
  }
}