.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #999999;
    border-bottom: solid 1px;
    z-index: 10;
  
    &__logo {
      display: flex;
      align-items: center;
      font-size: 2rem;
    }
  
    &__links {
      display: flex;
      align-items: center;
  
      &--left {
        padding-left: 20px;
        align-self: left;
      }
  
      &--right {
        padding-right: 20px;
        align-self: right;
      }
    }
  }