@import'_variables';

@font-face{
    font-family: "bold";
    src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf") format("openType");
    font-weight:700;
}
@font-face{
    font-family: "demi";
    src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf") format("openType");
    font-weight: 600;
}
@font-face{
    font-family: "regular";
    src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf") format("openType");
    font-weight: 400;
}

// Fonts for mobile

@mixin header-mobile {
    font-size: 24px;
    line-height: 32px;
};

@mixin subheader-mobile {
    font-size: 14px;
    line-height: 22px;
};

@mixin paragraph-mobile {
    font-size: 13px;
    line-height: 18px;
};

@mixin lists-contactInformation-mobile {
    font-size: 13px;
    line-height: 18px;
};

@mixin labels-mobile {
    font-size: 12px;
    line-height: 20px;
    color: $Text-label;
};

// Fonts for desktop

@mixin hero-header-desktop {
    font-size: 60px;
    line-height: 68px;
};

@mixin header-h1-desktop {
    font-size: 36px;
    line-height: 44px;
};

@mixin header-h2-desktop {
    font-size: 24px;
    line-height: 32px;
};

@mixin subheader-desktop {
    font-size: 16px;
    line-height: 24px;
};

@mixin paragraph-comments-desktop {
    font-size: 14px;
    line-height: 22px;
};

@mixin lists-contactInformation-desktop {
    font-size: 14px;
    line-height: 20px;
};

@mixin labels-desktop {
    font-size: 12px;
    line-height: 20px;
};