$Primary-Textlink: #0095FF;
$Primary-Hover:#0065AD;
$Navigation-background:#323232;

$Paragraph-text:#323232;
$Text-label: #AFAFAF;
$Text-border:#E1E1E1;
$Text-background:#FAFAFA;

$horizontalPadding: 0 180px;