@import "../../partials/_typography.scss";
@import "../../partials/_variables.scss";

.comment {
  padding: 3% 0;
  display: flex;

  &--pic {
    margin-right: 2%;
  }

  &--info {
    width: 85%;
  }

  &--firtsLine {
    display: flex;
  }

  &--name {
    margin-right: 2%;
  }

  &--text {
    padding: 1% 0;
  }
}
