@import "../../partials/_typography.scss";
@import "../../partials/_variables.scss";
@import "../../partials/_mixins.scss";

.comment {
  padding: 7% 0;
  display: flex;
  @include divider-line-bottom;

  &--pic {
    margin-right: 2%;
    width: 30%;
    background-color: $avatar-background;
    @include avatar;
  }

  &--info {
    width: 70%;
  }

  &--firtsLine {
    @include center;
    justify-content: space-between;
  }

  &--name,
  .comment--date {
    margin: 0;
  }

  &--text {
    font-size: 1.2rem; // It is modified to give similarity to the mockup
  }
}
